@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

/* Navbar */

nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 3vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}
nav img {
  width: 90px;
  height: 45px;
  padding: 1px;
  cursor: pointer;
}
nav .navbar {
  display: flex;
}
#menu-btn {
  width: 30px;
  height: 30px;
  display: none;
}
#menu-close {
  display: none;
}
nav .navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .navbar ul li {
  list-style: none;
  margin-left: 30px;
}
nav .navbar ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 18px;
  font-weight: 520;
  transition: 0.3s ease;
}
nav .navbar ul li a.active,
nav .navbar ul li a:hover {
  color: #fdc93b;
}

/* Home */

#home {
  background: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.5)),
    url("images/h1.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
#home h2 {
  color: #fff;
  font-size: 4.2rem;
  letter-spacing: 1px;
}
#home p {
  width: 45%;
  color: #fff;
  font-size: 1rem;
  line-height: 25px;
}
#home .btn {
  margin-top: 40px;
}
#home a {
  text-decoration: none;
  font-size: 1rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
}
#home a.blue {
  color: #fff;
  background: rgb(21, 21, 100);
  transition: 0.3s ease;
}
#home a.blue:hover {
  background: #fff;
  color: rgb(21, 21, 100);
}
#home a.yellow {
  color: #fff;
  background: #fdc93b;
  transition: 0.3s ease;
}
#home a.yellow:hover {
  background: #fff;
  color: rgb(21, 21, 100);
}

/* About Us */

#about {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}
#about .about-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
#about .about-img img {
  width: 33%;
  height: 320px;
}
#about .about-text p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 87);
  background: #f9f9ff;
  margin-top: 50px;
  padding: 2vw 3vw;
  text-align: start;
}

/* Services */

#services {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}
#services .srv-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}
#services .srv-img img {
  width: 100%;
  height: 180px;
}
#services .srv {
  background: #101c32;
  margin-top: 50px;
  padding: 2vw 3vw;
}
#services .srv ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  width: 100%;
  justify-content: space-between;
  text-align: start;
  align-items: center;
  margin-left: 40px;
  /* padding: 2vw 3vw; */
}
#services .srv ul li {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.3s ease;
}
#services .srv ul li a:hover {
  color: #fdc93b;
}

/* Feedback */

#feedback {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}
#feedback .testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.8rem;
  margin-top: 50px;
}
#feedback .testimonial {
  background: #edf5fc;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#feedback .testimonial h6 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 59);
  /* margin-left: 460px; */
  margin-left: auto;
}
#feedback .testimonial p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 87);
}

/* Footer */
footer {
  padding: 8vw;
  background-color: #101c32;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .footer-col {
  padding-bottom: 40px;
}
footer h3 {
  color: rgb(241, 240, 245);
  font-weight: 600;
  padding-bottom: 20px;
}
footer li {
  list-style: none;
  color: #7b838a;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}
footer li:hover {
  color: rgb(241, 240, 245);
}
footer p {
  color: #7b838a;
}
footer .copyright {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
footer .copyright p {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}
footer .copyright .links {
  margin-top: 0;
  font-size: 30px;
  cursor: pointer;
}
footer .copyright .links i {
  color: #fff;
}
footer .copyright .links i:hover {
  color: #fdc93b;
}

/* Responsive */
@media (max-width: 400px) {
  nav {
    padding: 15px 20px;
    z-index: 999;
  }
  nav img {
    width: 65px;
    height: 35px;
    padding: 0;
  }
  #menu-btn {
    display: initial;
  }
  #menu-close {
    display: initial;
    font-size: 40px;
    color: #101c32;
    padding: 30px 0 20px 20px;
  }
  nav .navbar ul {
    position: absolute;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: #f9f9ff;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
  }
  nav .navbar ul.active {
    right: 0;
  }
  nav .navbar ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }
  nav .navbar ul li a {
    color: #101c32;
  }
  #home {
    padding-top: 0;
  }
  #home h2 {
    font-size: 4rem;
  }
  #home p {
    width: 90%;
    font-size: 0.9rem;
  }
  #about {
    padding: 8vw 4vw 0 4vw;
  }
  #about .about-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }
  #about .about-img img {
    width: 100%;
    height: 200px;
  }
  #services {
    padding: 8vw 4vw 0 4vw;
  }
  #services .srv-img {
    grid-template-columns: repeat(2, 1fr);
  }
  #services .srv {
    padding: 3vw 4vw;
  }
  #services .srv ul {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0px;
  }
  #feedback {
    padding: 8vw 4vw 0 4vw;
  }
  #feedback .testimonials {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  footer .copyright p {
    font-size: 0.8rem;
  }
  footer .copyright .links {
    margin-top: 15px;
  }
}
